body {
    /* later change to black */
    background-color:aliceblue;
}
#main-container {
    border: 3px solid red;
    background-color: black;
    width: 1000px;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
}
/* section 1: Bio and general info */
#section1 {
    border: 2px solid aqua;
    background-color: #282828;
    padding: 10px;
    /* Flexbox */
    display: flex;
    flex-flow: row wrap;
}
#box1 {
    flex: 1 0 auto;
    border: 2px solid red;
}
#box1>h2{
    color: #FEFCFE;
}
#box1>h3 {
    color: #5485A4;
}

#box1>img, #box1>h2, #box1>h3{
    display: inline;
}

#box2 {
    border: 2px solid red;
    flex: 0 0 320px;
}
#box3 {
    border: 2px solid red;
    flex: 1 0 calc(100% - 10px);
}

.general-info {
    margin: 0.2%;
    color: #FEFCFE;
}
.general-info>span{
    color: #58595B;
}
#website-link{
    color: #5485A4;
}

.notbold {
    font-weight:normal
}

/* section2: Job description */
#section2 {
    background-color: #282828;
    border: 2px solid orange;
    padding: 10px;
    /* Flexbox */
    width: 700px;
}

.experience-sections {
    background-color: #373737;
    color: #FEFCFE;
    height: 20px;
    margin: 20px;
}
#experience-section-icon1{
    height: 16px;
    width: 16px;
    display: inline;
}
#experience-section-icon2 {
    height: 14px;
    width: 14px;
    display: inline;
    padding: 0px;
    margin: 0px;
}

#experience-section-title {
    display: inline;
}
.job-title {
    color: #FEFCFE;
    margin-bottom: 0;
    padding: 15px;
    padding-bottom: 0%;
    display: inline;
   
}
.job-subtitle {
    color: #58595B;
    padding: 15px;
    margin: 0%;
    padding-top: 0%;
}
p {
    color: #58595B;
}

/* section 3: skills */
#section3 {
    background-color: #282828;
    border: 2px solid purple;
    padding: 10px;
    /* Flexbox */
    width: 252px;
}

#section3>h4{
    color: #FEFCFE;
}